$font-family: "Work Sans", sans-serif;
$font-size: 1.8rem;
$color-red: #df152b;
$color-yellow: #fae721;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: 56.25em) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 50%;
  }
}

body {
  color: #111;
  font-family: $font-family;
  font-size: $font-size;
}

// *** HEADER
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 1rem;

  &__upper,
  &__nav {
    max-width: 130rem;
    margin: auto;

    @media only screen and (max-width: 68.75em) {
      max-width: 90rem;
    }
  }

  &__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
    flex-wrap: wrap;

    @media only screen and (max-width: 37.5em) {
      justify-content: center;
    }
  }
  &__social {
    margin-right: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
  }
  &__social-link {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid white;
    transition: background 0.3s ease;
    background-color: #3b5999;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover,
    &:focus {
      color: #222;
      background-color: $color-yellow;
    }
  }
  &__contact {
    display: flex;
    align-items: center;
  }
  &__email {
    color: white;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;

    span {
      margin-right: 0.5rem;
      font-size: 2rem;
    }
  }
  &__btns {
    display: flex;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 20rem;
    background-color: #fff;

    .btn--toggler {
      font-size: 2rem;
      display: none;
    }

    @media only screen and (max-width: 56.25em) {
      .btn--toggler {
        display: block;
        z-index: 10;
      }
      .list {
        transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: #fff;
        width: 35vw;
        height: 50vh;

        &.active {
          transform: translate(0);
        }

        &--1 {
          justify-content: space-between;
          padding-top: 25vh;
          padding-bottom: 1rem;
        }
        &--2 {
          padding-top: 1rem;
          justify-content: space-between;
          padding-bottom: 25vh;
          top: 50vh;
        }
      }
    }
  }
  &__logo {
    position: relative;
    width: 10rem;
    height: 1rem;
  }
  &__logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: 68.75em) {
      width: 110%;
    }
  }
}
.trending {
  padding: 8rem 0;

  &__heading {
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: 2px;
    color: $color-red;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  &__slogan {
    text-align: center;
    color: #999;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .list {
    justify-content: center;
    gap: 1rem;

    @media only screen and (max-width: 37.5em) {
      flex-direction: column;
    }
  }
  &__trends {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    gap: 1rem;

    @media only screen and (max-width: 56.25em) {
      width: 90%;
    }
    @media only screen and (max-width: 37.5em) {
      width: 96%;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.features {
  background: url(https://cdn.shopify.com/s/files/1/0199/7497/9684/files/Paralax.png?v=1574677119)
    no-repeat;
  background-attachment: fixed;
  background-size: cover;

  &::before,
  &::after {
    content: "";
    display: block;
    background-size: cover;
    height: 9.4rem;
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/0199/7497/9684/t/12/assets/service-pattern.png?v=6915703087085917494);
  }
  &::after {
    transform: rotateX(180deg);
  }
  &__width {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 10rem 0;

    @media only screen and (max-width: 56.25em) {
      width: 90%;
    }
    @media only screen and (max-width: 37.5em) {
      width: 96%;
    }
    .swiper-wrapper {
      padding: 4rem 2rem;
    }
  }
}
.news {
  padding: 5rem 0;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 4rem 1rem;
  grid-template-areas:
    "news-title product-title"
    "news large-swiper"
    "newsletter small-swiper";

  @media only screen and (max-width: 68.75em) {
    grid-template-rows: min-content auto min-content auto min-content;
    grid-template-areas:
      "news-title news-title"
      "news news"
      "product-title product-title"
      "large-swiper large-swiper"
      "newsletter small-swiper";
  }

  @media only screen and (max-width: 56.25em) {
    width: 90%;
  }
  @media only screen and (max-width: 37.5em) {
    width: 96%;
    grid-template-rows: min-content auto min-content auto min-content min-content;
    grid-template-areas:
      "news-title news-title"
      "news news"
      "product-title product-title"
      "large-swiper large-swiper"
      "newsletter newsletter"
      "small-swiper small-swiper";
  }

  &__title {
    color: $color-red;
    font-size: 3.2rem;
    margin-bottom: 0.5rem;
  }
  &__slogan {
    font-size: 1.4rem;
  }

  &__news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  &__newsletter {
    padding: 2rem 2rem;
    width: 100%;
    border-radius: 4rem;
    background-color: $color-red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .news__title {
      color: #fff;
      margin-bottom: 2rem;
    }
  }
  .slide {
    &__image {
      width: 60%;
    }
    &__title {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

// Components
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input {
    font-size: 1.6rem;
    padding: 1.5rem;
    margin-right: -2rem;
    border: none;
    border-radius: 3rem 0 0 3rem;
  }
}
.new {
  display: flex;

  &__left {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__date-number {
    color: #bbb;
    font-size: 10rem;
  }
  &__right {
    flex: 1;
  }
  &__title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    max-width: 35ch;
    color: #777;
  }
  .btn {
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    border: 1px solid $color-red;
  }
}
.feature {
  border: 2px dotted #ddd;
  width: 300px;
  height: 300px;
  display: flex;
  padding: 7.2rem 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 200rem;
  transition: border 0.3s ease;

  &:hover {
    border: 2px solid $color-red;
  }
  &:hover &__title {
    letter-spacing: 2px;
  }
  & > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__image {
    width: 6rem;
  }
  &__title {
    transition: letter-spacing 0.3s ease;
  }
}
.trend {
  border-radius: 3rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  flex: 0 0 25%;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
  }
  &:hover::after {
    transform: translate(-50%, -50%) scale(1);
  }
  &:hover &__image {
    transform: scale(1.1);
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
  &--big {
    flex: 0 0 45%;
  }
  &--huge {
    flex: 0 0 100%;
    order: 1;
  }
}
.list {
  display: flex;
  align-items: center;

  &__link {
    color: #222;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    position: relative;
    z-index: 5;

    @media only screen and (max-width: 68.75em) {
      font-size: 1.6rem;
    }

    &:not(:last-child) {
      margin-right: 2rem;

      @media only screen and (max-width: 68.75em) {
        margin-right: 1rem;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -1rem;
      left: -1rem;
      width: 100%;
      padding: 2rem 1rem;
      background-color: $color-yellow;
      z-index: -1;
      border-radius: 20rem;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
    &:hover::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  &__marker {
    position: absolute;
    top: -1rem;
    right: -1rem;
    font-size: 1rem;
    color: #fff;
    padding: 0.1rem;

    &--new {
      background-color: #7fbc1e;
    }
    &--hot {
      background-color: $color-red;
    }
    &--sale {
      background-color: #222;
    }
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 20rem;
  transition: all 0.3s ease;

  &--red {
    color: white;
    background-color: $color-red;

    &:hover,
    &:focus {
      background-color: $color-yellow;
      color: #222;
    }
  }
  &--yellow {
    padding: 1.5rem;
    color: #222;
    background-color: $color-yellow;

    &:hover,
    &:focus {
      background-color: $color-red;
      color: white;
    }
  }
  &--trending {
    border: 2px dotted #ddd;
    padding: 1rem 2rem;
    color: #777;

    &:hover,
    &:focus,
    &-active {
      color: #222;
      background-color: $color-yellow;
      border: 2px solid $color-red;
    }
  }
}
.homeSwiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.swiper-slide {
  object-fit: cover;
}
.productsSwiper {
  width: 80%;
  margin: auto;

  @media only screen and (max-width: 56.25em) {
    width: 90%;
  }
  @media only screen and (max-width: 37.5em) {
    width: 96%;
  }
  .swiper-wrapper {
    padding: 4rem 2rem;
  }
}
.newsSwiper {
  width: 100%;

  .swiper-wrapper {
    padding: 2rem;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f6f7f8;
    border-radius: 4rem;
    overflow: hidden;

    @media only screen and (max-width: 56.25em) {
      flex-direction: column;
      padding-bottom: 12rem;
    }

    &__image {
      height: auto;
      width: 30%;
      margin: 0 auto;
    }
    &__title {
      margin-bottom: 0.5rem;
      font-size: 2.4rem;
      color: #555;
      font-weight: normal;
    }
    .list {
      color: #999;
      margin-bottom: 1rem;
    }
    &__price {
      color: $color-red;
    }
    &__desc {
      max-width: 40ch;
    }
  }
}
.slide {
  width: 48rem;
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
  background-color: #f6f7f8;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted #ddd;
  transition: border 0.3s ease;

  &:hover {
    border: 2px solid $color-red;
  }

  &__image {
    width: 100%;
    margin-bottom: 2rem;
  }
  &__image--rotated {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) perspective(75rem) rotateY(90deg);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  &:hover &__image--rotated {
    opacity: 1;
    transform: translateX(-50%) perspective(75rem) rotateY(0deg);
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
  }
  &__title {
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .list {
    color: #ddd;
    margin-bottom: 1rem;
  }
  &__price {
    color: $color-red;
  }
}
